<div class="content">
  {{#if state.full_data.title}}
  <a class="header">{{state.full_data.title}}</a>
  {{else}}
  <a class="header">{{state.form.name}}</a>
  {{/if}}
  <form class="ui form raised secondary segment" data-form="{{state.form.key}}" novalidate>
    {{#each state.form.fields}}
    {{#switch type}}

    {{#case 'buttons'}}
    <div class="inline field">
      <div class="ui buttons">
        {{#each buttons}}
        {{#switch type}}
        {{#case 'label'}}
        <div class="ui horizontal label {{class}}" data-key="{{key}}" data-event="{{key}}"
          id="{{../../id}}_{{key}}" >{{name}}</div>
        {{/case}}
        {{#case 'button'}}
        <button class="ui submit button {{class}}" style="{{style}}" data-key="{{key}}" data-event="{{key}}"
          id="{{../../id}}_{{key}}" type="button">
          {{#if icon}}
          <i class="fas fa-{{icon}}"></i>
          {{/if}}
          {{name}}
        </button>
        {{/case}}
        {{/switch}}
        {{/each}}
      </div>
    </div>
    {{/case}}
    {{#case 'bool'}}
    <div class="field {{class}}">
      <div class="ui toggle checkbox" id="{{../id}}_{{key}}" data-key="{{key}}">
        <label for="{{../id}}_{{key}}">{{name}}</label>
        {{#if default}}
        <input type="checkbox" data-key="{{key}}" checked>
        {{else}}
        <input type="checkbox" data-key="{{key}}">
        {{/if}}
      </div>
    </div>
    <br>
    {{/case}}
    {{#case 'select'}}
    <div class="field {{class}}">

      <label for="{{../id}}_{{key}}">{{name}}:</label>
      <div class="ui left corner labeled action input">
        {{#if optional}}
        <div class="ui left corner label">
          <input class="ui labeled icon " type="checkbox" checked="1" id="{{../id}}_{{key}}_toggle" data-key="{{key}}"
            data-toggle="{{../id}}_{{key}}">
        </div>
        {{/if}}
        <select class="ui fluid dropdown" id="{{../id}}_{{key}}" data-key="{{key}}" type="select">
        </select>
        {{#if unit}}
        <div class="ui basic label">{{unit}}</div>
        {{/if}}
        {{#if show_buttons}}
        {{#each show_buttons}}
        {{#switch type}}
        {{#case 'button'}}
        <button class="ui submit button {{class}}" style="{{style}}" data-key="{{key}}" data-event="{{key}}"
          id="{{../id}}_{{key}}" type="button">
          {{#if icon}}
          <i class="fas fa-{{icon}}"></i>
          &nbsp;
          {{/if}}
          {{name}}
        </button>
        {{/case}}
        {{/switch}}
        {{/each}}
        {{/if}}
      </div>
    </div>
    {{/case}}
    {{#case 'text'}}
    <div class="field">

      <label for="{{../id}}_{{key}}">{{name}}:</label>
      <div class="ui left corner labeled action input">
        {{#if optional}}
        <div class="ui left corner label">
          <input class="ui labeled icon " type="checkbox" checked="1" id="{{../id}}_{{key}}_toggle" data-key="{{key}}"
            data-toggle="{{../id}}_{{key}}">
        </div>
        {{/if}}
        <input data-key="{{key}}" id="{{../id}}_{{key}}" type="{{typee}}">
        {{#if unit}}
        <div class="ui basic label">{{unit}}</div>
        {{/if}}
        {{#if show_buttons}}
        {{#each show_buttons}}
        {{#switch type}}
        {{#case 'button'}}
        <button class="ui submit button {{class}}" style="{{style}}" data-key="{{key}}" data-event="{{key}}"
          id="{{../id}}_{{key}}" type="button">
          {{#if icon}}
          <i class="fas fa-{{icon}}"></i>
          &nbsp;
          {{/if}}
          {{name}}
        </button>
        {{/case}}
        {{/switch}}
        {{/each}}
        {{/if}}


      </div>
    </div>
    {{/case}}
    {{#case 'log'}}
    <div class="field">
      <label for="{{../id}}_{{key}}">{{name}}:</label>
      <textarea class="form-control" rows="{{rows}}" data-key="{{key}}" id="{{../id}}_{{key}}"></textarea>
    </div>
    {{/case}}
    {{#case 'number'}}
    <div class="field">

      <label for="{{../id}}_{{key}}">{{name}}:</label>
      <div class="ui left corner labeled action input">

        <input data-key="{{key}}" id="{{../id}}_{{key}}" type="text">
        {{#if optional}}
        <div class="ui left corner label">
          <input class="ui labeled icon " type="checkbox" checked="1" id="{{../id}}_{{key}}_toggle" data-key="{{key}}"
            data-toggle="{{../id}}_{{key}}">
        </div>
        {{/if}}

        {{#if show_plus}}
        <button id="{{../id}}_{{key}}_plus" class="desktop-only" data-key="{{key}}" type="button" data-act="plus">
          <i id="{{../id}}_{{key}}_pluss" class="plus icon" data-key="{{key}}" data-act="plus"></i>
        </button>
        {{/if}}
        {{#if show_minus}}
        <button id="{{../id}}_{{key}}_minus" class="desktop-only" data-key="{{key}}" type="button" data-act="minus">
          <i id="{{../id}}_{{key}}_minuss" class="minus icon" data-key="{{key}}" data-act="minus"></i>
        </button>
        {{/if}}
        {{#if show_hex}}
        <div class="ui basic label" id="{{../id}}_{{key}}_show_hex" data-key="{{key}}"> </div>
        {{/if}}
        {{#if show_bin}}
        <div class="desktop-only ui basic label" id="{{../id}}_{{key}}_show_bin" data-key="{{key}}"></div>
        {{/if}}
        {{#if show_dec}}
        <div class="ui basic label" id="{{../id}}_{{key}}_show_dec" data-key="{{key}}"></div>
        {{/if}}
        {{#if unit}}
        <div class="ui basic label">{{unit}}</div>
        {{/if}}
      </div>
      <div class="ui pointing red basic label" id="{{../id}}_{{key}}_feedback">
    </div>
    </div>

    {{/case}}

    {{/switch}}

    {{/each}}
</div>
</form>
</div>
<div class="extra content">
  <div class="inline field">
    <div class="ui buttons">
      {{#each state.form.fields}}
      {{#switch type}}
      {{#case 'button'}}
      <button class="ui submit button {{class}}" style="{{style}}" data-key="{{key}}" data-event="{{key}}"
        id="{{../id}}_{{key}}" type="button">
        {{#if icon}}
        <i class="fas fa-{{icon}}"></i>
        &nbsp;
        {{/if}}
        {{name}}
      </button>
      {{/case}}
      {{/switch}}
      {{/each}}
    </div>
  </div>
  <div class="ui icon message" id="{{id}}_msg" style="display: none;">
  {{!-- <i class="close icon"></i> --}}
  <i class="icon" id="{{id}}_msg_icon"></i>
  <div class="content">
    <div class="header" id="{{id}}_msg_header">x</div>
    <p id="{{id}}_msg_body">.</p>
  </div>
</div>
</div>

